

<!-- <button (click)="getPages()">Get Houses Data!!!</button> -->
<hr>

<div class="center" >
<table class="">
  <thead>
    <th>
      Name

    </th>
    <th>
      Region

    </th>
  </thead>
  <!-- <tr *ngFor="let item of houses">
    <td>
      {{item.userId}}
    </td>
    <td>
      {{item.title}}
    </td>
  </tr> -->

  <tr>
    <td>
      {{houses.id}}
    </td>
    <td>
      {{houses.title}}
    </td>
  </tr>
</table>


</div>
<button (click)="getPrevious()">Previous</button>{{pageNum}}
<button (click)="getNext()">Next</button>


<p>
  In this example, I worked on the 
  a. Real Time Http Services <a href=" https://jsonplaceholder.typicode.com">JSON Place Holder Web Services</a> <br>
  b. Data Services which call the above URL <br>
  c. Custom Model Interface (House) with Custom Data Type (URL) <br>
  d. Single Component with default Routing to Home .
</p>